{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


{% if error == "no" %}
<script>
    alert('Password changed Successfully');
    window.location = ('{% url "logout" %}');
</script>
{% endif %}


{% if error == "yes" %}
<script>
    alert('Invalid Login Credentials , Try Again');
</script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/note3.jpg' %}" style="width: 90%; height: 400px;">
        </div>
    
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <HR>
            <form method="post">
                {% csrf_token %}
                <label>OLD PASSWORD</label>
                    <input type="password" class="form-control" placeholder="Enter old password" name="old">
                <label>NEW PASSWORD</label>
                    <input type="password" class="form-control" placeholder="Enter new Password" name="new">
                <label>CONFIRM PASSWORD</label>
                    <input type="password" class="form-control" placeholder="Re enter new Password" name="confirm">
                    <input type="submit" class="btn btn-danger mt-2" value="SUBMIT" >
            </form>
        </div>
    
    </div>
    </div>
    

{% endblock %}